.nav{
    padding:31px 0 32px;
}

.nav-wrapper , .nav-left , .nav-right , .nav-list ,  .nav-list-items , .nav-buttons , .form {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* navigation left */
.nav-left {
    gap:87px;
}

.nav-list {
    gap:40px;
}

.nav-list-items {
    list-style: none;
    font:700 22px 'Causten';
}

.nav-list-items:hover {
   text-decoration: underline 2px solid #3C4242;
}

.nav-list-items > a {
    text-decoration: none;
    color:#807D7E;
}

.nav-list-items-bold > a {
    color:#3C4242;
}

/* navigation right */
.nav-right {
    gap:76px;
}

.form:hover {
    border: 1px solid #F6F6F6;
    border-radius:8px;
}

.input-src {
    padding:12px 20px;
    border-bottom-right-radius:8px;
    border-top-right-radius:8px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border:none;
    outline:none;    
    background: #F6F6F6;
}

.input-src , .input-src::placeholder {
    font:400 16px 'Causten';
    color: #807D7E;
}

.search {
    padding:10px 0px 10px 20px; 
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    background: #F6F6F6;
}

.search > img {
    height:18px;
    width:18px;
    padding-top:2px;
}

.search > img:hover {
    cursor: pointer;
}

.nav-buttons {
    gap:12px;    
}

.icon-btn {
    border-radius:8px;
    width:44px;
    height:42px;
    border: none;
}

.icon-btn > img {
    margin-top:5px;
}

.icon-btn:hover {
    cursor: pointer;
    background:#c5c5c5;
    transition:0.5s;
}

/* for mobile media */
.burger-btn {
    background: transparent;
    border: none;
    display: none;
}

.burger-btn:hover {
    cursor: pointer;
}

.hr-rulers {
    height:4px;
    width:25px;
    background: rgb(98, 88, 88);
}

.btn-center {
    margin:2px 0 3px;
}