/* katta tablet va pc */
@media (max-width:1280px) {
.container {
    padding:0 20px;
    width: 100%;
}


/* header */
/* navigation left */
.nav-left {
    gap:50px;
}

.nav-list {
    gap:25px;
}

.nav-list-items {
    font-size:20px;
}

/* navigation right */
.nav-right {
    gap:40px;
}

.nav-buttons {
    gap:10px;    
}

.input-src {
    padding:12px 10px 12px 10px;
}



/* footer */
.socials-description , .categories-list  {
    font:700 24px 'Causten';
}

.nav-info-wrapper {
    padding: 0 65px;
}

.nav-info-list-items {
    font:500 16px 'Causten';
}

.nav-info-list-items-bigger {
    font:700 24px 'Causten';
}

/* social media */
.socials-wrapper {
    justify-content: space-between;
    gap:0;
}

.socials-wrapper {
    padding: 0 80px 0 65px;
}

.selector-wrapper { 
    padding: 27px 50px 27px 65px ; 
    margin: 49px 0;
}


/* copyright */
.copyrights {
    font:700 16px 'Causten';
}

}
