@media (max-width:640px) {
    /* navigarion left */
    .nav-list {
        display: none;
    }

    /* navigation right */
    .form {
        display: none;
    }

    .burger-btn {
        display: block;
    }


    /* footer */

.nav-info-wrapper {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    row-gap:40px;
    padding:0 0 0 40px;
}

.nav-info-list-items-bigger {
    margin-bottom:7px;
}

.socials {
    margin-top: 30px;
}

.socials-wrapper {
    display:grid;
    grid-template-columns:repeat(1, 1fr);
    padding:0 0 0 40px;
    row-gap:30px;
}

.socials-left {
    order:2;
}


.installing-programs {
    margin-top:15px;
}
}


@media (max-width:440px) {
    /* footer */
.nav-info-wrapper {
    grid-template-columns:repeat(2,1fr);
    justify-content: space-between;
    padding:0;
}

.socials-wrapper {
     padding:0;
    row-gap:30px;
}


.installing-programs {
    flex-wrap: wrap;
}

}