@import url('https://fonts.googleapis.com/css?family=Core Sans C |Causten');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Core Sans C';
}

.container {
    max-width:1237px;
    margin: auto;
    border: 1px solid red;
}